<footer id="bottom">
  <div class="wrapper">
    <nav>
      <a href="#">控制面板</a> &middot;
      <a href="#">企业管理</a> &middot;
      <a href="#">会议管理</a> &middot;
      <a href="#">Settings</a>
    </nav>
    <p>Copyright &copy; 2011 <b>
        <a HREF="kukuwuwu.info" title="kukuwuwu@sina.com">kukuwuwu</a></b></p>
  </div>
</footer>
<a href="#" id="totop">^ 回到最顶</a>