<header id="top">
  <div class="wrapper">
    <div id="title"><img SRC="../images/logo.png" alt="Administry" /><!--<span>Administry</span> demo--></div>
    <div id="topnav">
      <a href="#"><img class="avatar" SRC="../images/user_32.png" alt="" /></a>
				欢迎您登陆<b>孙博</b>
      <span>|</span> <a href="#">个人设置</a>
      <span>|</span> <a href="#">推出系统</a><br />
      <small>You have <a href="#" class="high"><b>0</b> new message!</a></small>
    </div>
    <!-- End of Top navigation -->
    <!-- Main navigation -->
    <nav id="menu">
      <ul class="sf-menu">
        <li><a HREF="dashboard.html">控制面板</a></li>
        <li class="current">
          <a HREF="#">企业管理</a>
          <ul>
            <li><a HREF="#">企业管理</a></li>
            <li><a HREF="#">行业类别管理</a></li>
          </ul>
        </li>
        <li>
          <a HREF="styles.html">会议管理</a>
          <ul>
            <li>
              <a HREF="styles.html">Basic Styles</a>
            </li>
            <li>
              <a href="#">Sample Pages...</a>
              <ul>
                <li><a HREF="samples-files.html">Files</a></li>
                <li><a HREF="samples-products.html">Products</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a HREF="#">管理员管理</a></li>
      </ul>
    </nav>
    <!-- End of Main navigation -->
    <!-- Aside links -->
    <aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside>
    <!-- End of Aside links -->
  </div>
</header>